ul {
    display: block;
    list-style-type: disc;

}
.swiper-slide{
    width: 292px;
    margin-right: 30px;
}
.pb-140 {
    padding-bottom: 140px;
}

.pt-15 {
    padding-top: 15px;
}

body{
    background-color: #f5f5f5;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}

.text-center {
    text-align: center !important;
}
.product__price span.old-price {
    color: #8c8c8c;
    text-decoration: line-through;
}
.product__price span {
    font-size: 14px;
    color: #201f1f;
    font-weight: 500;
    margin-right: 7px;
}
.product__action {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #ffffff;
    margin: 0;
    padding: 2px 13px;
    text-align: center;
    z-index: 11;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transform: scaleX(0);
}
.pb-100 {
    padding-bottom: 100px;
}

.pt-60 {
    padding-top: 60px;
}
.banner__content-2 p {
    color: #444;
    margin-bottom: 37px;
}
.os-btn-2 {
    border-color: #323232;
}
.os-btn {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    height: 50px;
    line-height: 46px;
    padding: 0 42px;
    border: 2px solid #ebebeb;
    color: #323232;
    background: transparent;
    z-index: 1;
    font-size: 12px;
}
.banner__content-2 span {
    color: #bc8246;
}

.os-btn span {
    color: #bc8246;
}
.banner-left {
    padding-left: 15px;
}

.banner__item-2 {
    padding-left: 0;
    padding-right: 0;
}
.pl-15 {
    padding-left: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}
.p-relative {
    position: relative;
}
.section__title {
    position: relative;
}
.mb-10 {
    margin-bottom: 10px;
}
.section__title h2 {
    display: inline-block;
    font-weight: 400;
    position: relative;
    background: #fff none repeat scroll 0 0;
    padding: 0 50px;
    z-index: 1;
}

.section__sub-title p {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #848b8a;
    margin-bottom: 15px;
    line-height: 24px;
}
.mb-60 {
    margin-bottom: 60px;
}
.w-img img {
    width: 100%;
}

.product__thumb-2 {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transform: scaleX(0);
}
.product__action {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #ffffff;
    margin: 0;
    padding: 2px 13px;
    text-align: center;
    z-index: 11;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transform: scaleX(0);
}
.product__action a {
    font-size: 14px;
    border-bottom: 1px solid #ebebeb;
    display: block;
    line-height: 37px;
    height: 37px;
    width: 20px;
    color: #444;
    font-weight: 400;
}
.cursor-pointer {
    cursor: pointer;
}
.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    backface-visibility: hidden;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}
.product__wrapper .add-cart {
    bottom: -40px;
    left: 0;
    visibility: hidden;
    opacity: 0;
}
.app-product-item{
    position: relative;
}
.p-absolute {
    position: absolute;
}
.product__content h4 {
    font-size: 14px;
    font-weight: 400;
    color: #444;
    margin-bottom: 3px;
}
.product__price {
    position: absolute;
    bottom: -30px;
    left: 0;
}
.product__price span {
    font-size: 14px;
    color: #201f1f;
    font-weight: 500;
    margin-right: 7px;
}
.product__price span.old-price {
    color: #8c8c8c;
    text-decoration: line-through;
}

.sale__item{
    position: relative;
}
.product__price span {
    font-size: 14px;
    color: #201f1f;
    font-weight: 500;
    margin-right: 7px;
}
.product__sale {
    display: table;
    position: absolute;
    text-align: center;
    top: 36px;
    right: -20px;
    z-index: 2;
    min-width: 100px;
    transform: rotate(90deg);
}
.product__sale span {
    position: relative;
    background: #bc8246;
    color: #fff;
    float: left;
    font-size: 11px;
    font-weight: 400;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .5px;
    min-width: 50px;
    border-radius: 0;
    min-height: auto;
    border: 0;
}
.product__sale span.percent {
    background: #201f1f;
}
.mt-25 {
    margin-top: 25px;
}
.text-center {
    text-align: center !important;
}
.os-btn-3 {
    padding: 0 77px;
}
.mt--95 {
    margin-top: -95px;
}

.p-relative {
    position: relative;
}
.z-index-1 {
    z-index: 1;
}
.banner__content {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
.banner__thumb a {
    display: block;
}
.link-btn {
    font-size: 12px;
    color: #444;
    text-transform: capitalize;
    font-weight: 500;
}
#slider-area{

}
#slider-area .slider{
    width: 600px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

#slider-area .slider img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}   
.active-img{
    opacity: 1 !important;
}
#slider-area .slider .icons{

}
#slider-area .slider .icons i{
    font-size: 40px;
    color:black;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    transition: all 0.2s;
}
#slider-area .slider .icons i:hover{
    font-size: 60px;
}
#slider-area .slider .icons i:first-child{
    top: 10px;
    left: 10px;
    text-align: center;
}
#slider-area .slider .icons i:last-child{
    top: 10px;
    right: 10px;
    text-align: center;
}