* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    
}
/* ? dropdown burdadir  */
.header__navbar__main{
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex; 
    gap: 30px;

    li{
        position: relative;
        padding: 10px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    ul.dropdown{
        padding: 10px;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 120%;
        visibility: hidden;
        transition: all ease-in-out 0.2s;
        overflow: hidden;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: 0 0;
        list-style: none;
        left: 0;
        box-shadow: 0 15px 30px #00038f1a;
        min-width: 200px;
        z-index: 59;
        background-color: #ffffff;
        
    }
    li:hover ul{
        opacity: 1;
        display: block;
        visibility: visible;
        overflow: visible;
        transform: scaleY(1);
        top: 111%;
    }
    #mega__dropdown{
        position: absolute;
        min-width: 700px  ;
        left: -100%;
        padding: 30px;
        background-image: url(/assets/img/mega-menu-bg.jpg);
        background-position:center right ;
        background-size: cover;
        display: flex;
        list-style: none;
        flex-direction: row;
        ul{
            min-width: 200px;
            list-style: none;
            padding: 0  ;
        }

        
    }
    #Sidebar{
        left: -180px;
    }
    #cartDropDown{
        left: -200px;
        padding: 20px;
        width: 300px;
    }
}


/* ?   footer */
footer{
    h5{
        color: #ffffff;
    }
    .footer_top{
        border-bottom: 1px solid #f0f0f040;
        padding: 100px 50px 50px 50px   ;
    }
    .footer_top ul{
        display: flex;
        flex-direction: column;
        text-align-last: left;
    }
    .footer__widget{
        color: #b4b3b3;
    }
}
.footer_area ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
        float: left;
    }
    li a {
        display: block;
        color: #b4b3b3;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

}
.footer_bottom{
    padding: 45px 0px;
}
.footer-bg {
    background: #151616;
}
.footer_copyright{
    p{
        color: #b4b3b3;

    }
    a{
        color: #bc8246 !important; 
    }
}
.footer__top{
    padding: 100px 0px 60px;
}
.f-right {
    float: right;
}

.mb-30 {
    margin-bottom: 30px;
}
.mb-25 {
    margin-bottom: 25px;
}
a{
    text-decoration: none !important;
}
.footer__contact ul li {
    margin-bottom: 5px;
    display: flex;
}

.footer__contact ul li .text span {
    color: #b4b3b3;
}
.footer__links ul li a:after {
    position: absolute;
    content: "";
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
}
.footer__links ul li a {
    font-size: 14px;
    color: #b4b3b3;
    font-weight: 500;
    position: relative;
}
/* ? search Modal */
.SearchModal__main{
    
    transform: 0 0;
    overflow: hidden;
    visibility: 0;
    height: 0;
    width: 0;
    left: 50%;
    top: 0;
    position: absolute;
    transition: all ease-in-out 0.5s;
    background: #fff;
    z-index: 100;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    span{
        color: #bc8246;
        font-size: 20px;
    }
    ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        a{
            color: #000;
            transition: all 0.3s;
        }
        a:hover{
            color: #bc8246;
            
        }
        a::selection {
            color: #fff;
            background: #bc8246;
          }
    }
    input,input:focus{
        border: 0;
        outline: 0;
        border-bottom: 1px solid #bc8246;
        padding: 10px;
        &::placeholder{
            font-size: 13px;
        }
    }
    &::after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #00000060;
        display: block;
        top: 100%;
        height: 200%;
        left: 0;
        position: absolute;
        z-index: 200;
    }
}
.SearchModal__main.open{
    position: absolute;
    position: sticky;
    font-family: "Poppins", sans-serif;

    padding: 30px;
    width: 100vw;
    height: 35%; 
    left: 0;
    top: 0;
    background: #fff;
    z-index: 100;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: visible;
    gap: 20px;
    span{
        color: #bc8246;
        font-size: 20px;
    }
    ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        a{
            color: #000;
            transition: all 0.3s;
        }
        a:hover{
            color: #bc8246;
            
        }
        a::selection {
            color: #fff;
            background: #bc8246;
          }
    }
    input,input:focus{
        border: 0;
        outline: 0;
        border-bottom: 1px solid #bc8246;
        padding: 10px;
        &::placeholder{
            font-size: 13px;
        }
    }
}